table {
  border-collapse: collapse;
}

th, td {
  border: 1px black solid;
}

th {
  background-color: rgb(255,160,160);
}

tr:nth-child(even) {
  background-color: rgb(255,192,192);
}

tr:nth-child(odd) {
  background-color: rgb(255,232,232)
}
